// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$c-white: #FFF;
$c-black: #323C47;
$c-grey: #D8D8D8;
$c-grey-dark: #9F9F9F;
$c-grey-light: #E9EFF4;
$c-blue: #4170FF;
$c-blue-hover: #7496ff;
$c-blue-light: #D8E4FF;
$c-blue-lightest: #F5F8FF;
$c-yellow: #FFD54F;
$c-yellow-dark: #FFC107;
$c-red: #E83530;
$c-red-dark: #D32F2F;
$c-green: #4fc08d;
$c-green-dark: #3a8b6e;